html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.link-input {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.link-input__container {
    width: 40px;
    height: 40px;
    transition: width 1s;
}

.link-input__container_hovered {
    width: 400px;
}

.link-input__input {
    width: 100%;
    height: 100%;
    padding: 15px;
    border: 2px solid black;
    border-radius: 20px;
    transition: border-radius 1s;
}

.link-input__button {
    height: 0px;
    color: transparent;
    transition: height 0.3s 0.3s, color 0.3s;
}

.link-input__button_visible {
    height: 30px;
    color: black;
    transition: height 0.3s, color 0.3s 0.3s;
    
}
